name: build

on:
  workflow_dispatch:
  pull_request:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      matrix:
        platform:
        - host: macos-latest
          target: aarch64-apple-darwin
          flake: ./examples/rust-hello
          test-bin: file ./result/bin/rust-hello
          test-oci: true

          # TODO: Support cross-compilation from Darwin to Linux
          #- host: macos-latest
          #  target: aarch64-unknown-linux-musl
          #  flake: ./examples/rust-hello
          #  test-bin: file ./result/bin/rust-hello
          #  test-oci: |
          #    nix profile install --inputs-from . 'nixpkgs#podman'
          #    podman machine init
          #    podman machine start
          #    podman load < ./result

        - host: macos-latest
          target: wasm32-wasi
          flake: ./examples/rust-hello
          test-bin: nix run --inputs-from . 'nixpkgs#wasmtime' ./result/bin/rust-hello
          test-oci: true

          # TODO: Support cross-compilation from Darwin to Linux
          #- host: macos-latest
          #  target: x86_64-unknown-linux-musl
          #  flake: ./examples/rust-hello
          #  test-bin: file ./result/bin/rust-hello
          #  test-oci: |
          #    nix profile install --inputs-from . 'nixpkgs#podman'
          #    podman machine init
          #    podman machine start
          #    podman load < ./result

        - host: macos-latest
          target: x86_64-apple-darwin
          flake: ./examples/rust-hello
          test-bin: ./result/bin/rust-hello
          test-oci: true

        - host: ubuntu-latest
          target: aarch64-unknown-linux-musl
          flake: ./examples/rust-hello
          test-bin: nix shell --inputs-from . 'nixpkgs#qemu' -c qemu-aarch64 ./result/bin/rust-hello
          test-oci: docker load < ./result

        - host: ubuntu-latest
          target: wasm32-wasi
          flake: ./examples/rust-hello
          test-bin: nix run --inputs-from . 'nixpkgs#wasmtime' ./result/bin/rust-hello
          test-oci: docker load < ./result

        - host: ubuntu-latest
          target: x86_64-unknown-linux-musl
          flake: ./examples/rust-hello
          test-bin: ./result/bin/rust-hello
          test-oci: docker load < ./result

    runs-on: ${{ matrix.platform.host }}
    steps:
    - uses: actions/checkout@v3
    - uses: nixbuild/nix-quick-install-action@v18
      with:
        nix_conf: experimental-features = nix-command flakes
    - uses: cachix/cachix-action@v11
      with:
        name: rvolosatovs
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

    - run: nix build -L --show-trace --access-tokens 'github.com=${{ github.token }}' --override-input 'nixify' '.' '${{ matrix.platform.flake }}#rust-hello-${{ matrix.platform.target }}'
    - run: ${{ matrix.platform.test-bin }}

    - run: nix build -L --show-trace --access-tokens 'github.com=${{ github.token }}' --override-input 'nixify' '.' '${{ matrix.platform.flake }}#rust-hello-${{ matrix.platform.target }}-oci'
    - run: ${{ matrix.platform.test-oci }}
