name: check

on:
  workflow_dispatch:
  pull_request:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    name: "nix flake check"
    strategy:
      matrix:
        platform:
        - host: macos-latest
        - host: ubuntu-latest
    runs-on: ${{ matrix.platform.host }}
    steps:
    - uses: actions/checkout@v3
    - uses: nixbuild/nix-quick-install-action@v18
      with:
        nix_conf: experimental-features = nix-command flakes
    - uses: cachix/cachix-action@v11
      with:
        name: rvolosatovs
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - run: nix flake check -L --show-trace --access-tokens 'github.com=${{ github.token }}'

    - run: nix flake check -L --show-trace --access-tokens 'github.com=${{ github.token }}' --override-input 'nixify' '.' ./examples/rust-hello
    - run: nix run -L --show-trace --access-tokens 'github.com=${{ github.token }}' --override-input 'nixify' '.' ./examples/rust-hello
