name: check

on:
  workflow_dispatch:
  pull_request:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    name: "nix flake check"
    strategy:
      matrix:
        platform:
        - host: macos-latest
        - host: ubuntu-latest
    runs-on: ${{ matrix.platform.host }}
    steps:
    - uses: actions/checkout@v3
    - uses: cachix/install-nix-action@v20
      with:
        extra_nix_config: |
          access-tokens = github.com=${{ github.token }}
    - uses: cachix/cachix-action@v12
      with:
        name: rvolosatovs
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - run: nix flake check -L --show-trace

    - run: nix flake check -L --show-trace --override-input 'nixify' '.' ./examples/rust-hello
    - run: nix run -L --show-trace --override-input 'nixify' '.' ./examples/rust-hello
