name: templates

on:
  workflow_dispatch:
  pull_request:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  rust:
    strategy:
      matrix:
        platform:
        - host: macos-latest
        - host: ubuntu-latest
    runs-on: ${{ matrix.platform.host }}
    steps:
    - uses: actions/checkout@v3
    - uses: cachix/install-nix-action@v20
      with:
        extra_nix_config: |
          access-tokens = github.com=${{ github.token }}
    - uses: cachix/cachix-action@v12
      with:
        name: rvolosatovs
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - name: "Initialize and test"
      run: |
        cargo new ci
        cd ci
        cargo run
        nix flake init -L --show-trace -t '..#templates.rust'
        git add .
        nix flake check -L --show-trace --override-input 'nixify' '..'
        nix run -L --show-trace --override-input 'nixify' '..'
        nix develop -L --show-trace --override-input 'nixify' '..' --ignore-environment -c cargo test
